// 全局样式
$primary-color:#40586F;
$success-color:#51cf66;
$info-color:#fcc419;
$warning-color:#ff6b6b;
$danger-color:#868e96;

$body-bg:#E9EEF3;
$sidebar-bg:#F8F9FB;
$navbar-bg:#F8F9FB;


$font-family:system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;